on: issues

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: check gates
      id: branch-deploy
      uses: github/branch-deploy@v11.1.2
      
    - name: print title
      env:
        TITLE: ${{ github.event.issue.title }}
      run: echo "$TITLE"
